/* 共通 */
.en {
    font-family: baskerville-urw;
    font-weight: bold;
  }
  .ja {
    font-family: serif;
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
   a {
    color: #2c2c2c;
    text-decoration: none;
   }
  
  @media only screen and (min-width: 1025px){
    .wrapper {
      display: flex;
      width: 100%;
    }
    /* header */
    .header {
      height: 100vh;
      background-color: #fff;
      justify-content: space-between;
      position: fixed;
      z-index: 9999;
      width: 15%;
    }
    .header_logo {
      width: 100%;
      height: 200px;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    .gnav_list {
      margin: 30% 0 20% 0;
      color: #000;
      font-size: 16px;
      text-align: center;
    }
    .gnav_list--item {
      margin-top: 80px;
    }
    .gnav_list--item:nth-child(1) {
      margin-top: 0;
    }
    .gnav_list--item:last-of-type {
      display: none;
    }
    .btn_menu {
      display: none;
    }
    .pc-copyRight {
      font-size: 10px;
      color: #000;
      text-align: center;
      padding: 0 10px;
    }
  
    /* main */
    main {
      width: 100%;
      padding-left: 15%;
    }
  
    /* kv */
    .kv {
      height: 460px;
      background-image: url(./../../images/andrew-neel-cckf4TsHAuw-unsplash.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .kv_clear--box {
      background-color: #000;
      height: 460px;
      opacity: 0.5;
    }
  
    /* fadeIn-title animation (左から右)*/
    .fadeIn-title {
      animation-name: fadeIn-titleAnime;
      animation-duration: 3s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }
    @keyframes fadeIn-titleAnime {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    .kv_ttl {
      position: absolute;
      top: 50%;
      left: 20%;
      font-size: 56px;
      z-index: 100;
      opacity: 0;
      color: #fff;
    }
    .kv_ttl::before {
      content: "Business";
      font-size: 120px;
      position: absolute;
      top: -80%;
      left: -12%;
      z-index: -1000;
      color: #fff;
      opacity: 0.1;
      font-family: Myanmar MN;
      font-weight: bold;
    }
  
    .content_wrapper {
      padding: 80px;
      background-color: #2c2c2c;
    }
    .content_ttlArea {
      text-align: center;
      padding-bottom: 80px;
    }
    .content_ttl {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      font-size: 48px;
      color: #fff;
      border-bottom: 2px solid #ccc;
    }
    .content_ttl:after {
      right: 0;
    }
    .content_about {
        color: #fff;
        font-size: 16px;
        text-align: center;
        margin-top: -20px;
    }

    .content_investment--inner {
      height: 450px;
      display: flex;
      justify-content: space-between;
      background-color: #808080;
      width: 100%;
      line-height: 2;
    }
    .content_investment--item {
      margin-left: 5%;
      color: #fff;
    }
    .content_investment--title {
      font-size: 20px;
      margin-top: 7%;
      margin-bottom: 5%;
    }
    .content_investment--title span {
      font-size: 30px;
    }
    .content_investment--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_investment--text {
      font-size: 16px;
    }
    .content_achievement {
      font-size: 16px;
      margin-top: 5%;
      color: #fff;
      line-height: 3;
    }
    .content_achievement--text {
      font-size: 16px;
    }
    .content_investment--img {
        width: 40%;
        margin: 0;
        padding: 0;       
    }

    .content_rent--inner {
      height: 450px;
      display: flex;
      justify-content: space-between;
      background-color: #2c2c2c;
      width: 100%;
      line-height: 2;
    }
    .content_rent--item {
      margin-top: 3%;
      margin-right: 10%;
      color: #fff;
    }
    .content_rent--title {
      font-size: 20px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .content_rent--title span {
      font-size: 30px;
    }
    .content_rent--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_rent--text {
      font-size: 16px;
    }
    .content_rent--img {
      width: 40%;
      margin: 0;
      padding: 0;
    }

    .content_sale--inner {
      height: 450px;
      display: flex;
      justify-content: space-between;
      background-color: #808080;
      width: 100%;
      line-height: 2;
    }
    .content_sale--item {
      margin-left: 5%;
      color: #fff;
    }
    .content_sale--title {
      font-size: 20px;
      margin-top: 7%;
      margin-bottom: 5%;
    }
    .content_sale--title span {
      font-size: 30px;
    }
    .content_sale--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_sale--text {
      font-size: 16px;
      margin-top: 5%;
      color: #fff;
      line-height: 3;
    }
    .content_sale--img {
      width: 40%;
      margin: 0;
      padding: 0;
    }
    .content_reform--inner {
      height: 450px;
      display: flex;
      justify-content: space-between;
      background-color: #2c2c2c;
      width: 100%;
      line-height: 2;
    }
    .content_reform--item {
      margin-top: 2%;
      margin-right: 10%;
      color: #fff;
    }
    .content_reform--title {
      font-size: 20px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .content_reform--title span {
      font-size: 30px;
    }
    .content_reform--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_reform--text {
      font-size: 16px;
    }
    .content_reform--img {
      width: 40%;
      margin: 0;
      padding: 0;
    }
    /* footer */
    .footer {
      display: none;
    }
  }
  
  @media screen and (min-width:768px) and ( max-width:1024px) {
    /* header */
    .header {
      height: 90px;
      background-color: #fff;
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 9999;
    }
    .header_logo {
      width: 15%;
      height: 90px;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    .pc-copyRight {
      display: none;
    }
  
    /* ハンバーガーメニュー */
    .gnav {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: #2c2c2c;
    }
    .gnav_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      row-gap: 25px;
      color: #C4C7CC;
    }
    .gnav_list--item:last-of-type {
      display: none;
    }
    .btn_menu {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 90px;
      text-align: center;
      align-items: center;
      padding: 8px 16px;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      appearance: none;
    }
    .btn_menu--line {
      display: block;
      position: relative;
      left: 0;
      width: 100%;
      height: 3px;
      transition: all 0.4s;
      border-radius: 4px;
      background-color: #2c2c2c;
    }
    .btn_menu--line::before,
    .btn_menu--line::after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: inherit;
      border-radius: 4px;
      background-color: #2c2c2c;
    }
    .btn_menu--line::before {
      top:-10px;
    }
    .btn_menu--line::after {
      top: 10px;
    }
    .btn_menu.active .btn_menu--line {
      background-color: transparent;
    }
    .btn_menu.active .btn_menu--line::before,
    .btn_menu.active .btn_menu--line::after {
      top: 0;
      background-color: #fff;
    }
    .btn_menu.active .btn_menu--line::before {
      transform: rotate(45deg);
    }
    .btn_menu.active .btn_menu--line::after {
      transform: rotate(-45deg);
    }
  
    main {
      background-color: #2c2c2c;
    }
    /* kv */
    .kv {
      height: 520px;
      background-image: url(./../../images/andrew-neel-cckf4TsHAuw-unsplash.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .kv_clear--box {
      background-color: #000;
      height: 520px;
      opacity: 0.5;
    }
  
    /* fadeIn-title animation (左から右)*/
    .fadeIn-title {
      animation-name: fadeIn-titleAnime;
      animation-duration: 3s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }
    @keyframes fadeIn-titleAnime {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    .kv_ttl {
      position: absolute;
      top: 50%;
      left: 20%;
      font-size: 40px;
      z-index: 10;
      opacity: 0;
      color: #fff;
    }
    .kv_ttl::before {
      content: "Business";
      font-size: 120px;
      position: absolute;
      top: -140%;
      left: -10%;
      z-index: -1000;
      color: #fff;
      opacity: 0.1;
      font-family: Myanmar MN;
      font-weight: bold;
    }
  
    .content_wrapper {
      padding: 40px;
      background-color: #2c2c2c;
    }
    .content_ttlArea {
      text-align: center;
      padding-bottom: 60px;
    }
    .content_clear--box {
      border-bottom: 4px solid #ccc;
      width: 26%;
      margin: 0 auto;
    }
    .content_ttl {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      font-size: 48px;
      color: #fff;border-bottom: 2px solid #ccc;
    }
    .content_ttl:after {
      right: 0;
    }
    .content_about {
      color: #fff;
      font-size: 16px;
      text-align: center;
      margin-top: -20px;
    }
    .content_investment--inner {
      height: 430px;
      display: flex;
      justify-content: space-between;
      background-color: #808080;
      width: 100%;
      line-height: 2;
    }
    .content_investment--item {
      margin-left: 8%;
      color: #fff;
      margin-bottom: 10%;
    }
    .content_investment--title {
      font-size: 20px;
      margin-top: 7%;
      margin-bottom: 5%;
    }
    .content_investment--title span {
      font-size: 30px;
    }
    .content_investment--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_investment--text {
      font-size: 16px;
    }
    .content_achievement {
      font-size: 16px;
      margin-top: 5%;
      color: #fff;
      line-height: 3;
    }
    .content_achievement--text {
      font-size: 16px;
    }
    .content_investment--img {
      width: 40%;
      margin: 0;
      padding: 0;
    }

    .content_rent--inner {
      height: 430px;
      display: flex;
      justify-content: space-between;
      background-color: #2c2c2c;
      width: 100%;
      line-height: 2;
    }
    .content_rent--item {
      height: 100%;
      margin-top: 3%;
      margin-right: 15%;
      color: #fff;
    }
    .content_rent--title {
      font-size: 20px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .content_rent--title span {
      font-size: 30px;
    }
    .content_rent--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_rent--text {
      font-size: 16px;
    }
    .content_rent--img {
      width: 40%;
      margin: 0;
      padding: 0;
    }

    .content_sale--inner {
      height: 430px;
      display: flex;
      justify-content: space-between;
      background-color: #808080;
      width: 100%;
      line-height: 2;
    }
    .content_sale--item {
      margin-top: 3%;
      margin-left: 8%;
      color: #fff;
    }
    .content_sale--title {
      font-size: 20px;
      margin-top: 7%;
      margin-bottom: 5%;
    }
    .content_sale--title span {
      font-size: 30px;
    }
    .content_sale--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_sale--text {
      font-size: 16px;
      margin-top: 5%;
      color: #fff;
      line-height: 3;
    }
    .content_sale--img {
      width: 40%;
      margin: 0;
      padding: 0;
    }

    .content_reform--inner {
      height: 430px;
      display: flex;
      justify-content: space-between;
      color: #fff;
      background-color: #2c2c2c;
      width: 100%;
      line-height: 2;
    }
    .content_reform--item {
      margin-top: 2%;
      margin-right: 16%;
      margin-bottom: 5%;
    }
    .content_reform--title {
      font-size: 20px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .content_reform--title span {
      font-size: 30px;
    }
    .content_reform--subtitle {
      margin-bottom: 5%;
      font-size: 20px;
    }
    .content_reform--img {
      width: 40%;
      margin: 0;
      padding: 0;
    }
    /* footer */
    .footer {
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      background-color: #fff;
      padding: 32px 0;
    }
    .footer_menu {
      display: none;
    }
    .footer_privacy {
      margin-left: 80px;
    }
    .copyRight {
      color: #000;
      font-size: 10px;
    }
  }
  
@media screen and (max-width:767px){
      /* header */
      .header {
        height: 65px;
        background-color: #fff;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 9999;
      }
      .header_logo {
        width: 18%;
        height: 65px;
        padding: 10px;
        display: flex;
        align-items: center;
        margin-left: 4%;
      }
      .pc-copyRight {
        display: none;
      }
    
      /* ハンバーガーメニュー */
      .gnav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: #2c2c2c;
        box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
      }
      .gnav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        row-gap: 25px;
        color: #C4C7CC;
      }
      .gnav_list--item:last-of-type {
        display: none;
      }
      .btn_menu {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 65px;
        text-align: center;
        align-items: center;
        padding: 2px 8px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        appearance: none;
      }
      .btn_menu--line {
        display: block;
        position: relative;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.4s;
        border-radius: 4px;
        background-color: #2c2c2c;
      }
      .btn_menu--line::before,
      .btn_menu--line::after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: inherit;
        border-radius: 4px;
        background-color: #2c2c2c;
      }
      .btn_menu--line::before {
        top:-10px;
      }
      .btn_menu--line::after {
        top: 10px;
      }
      .btn_menu.active .btn_menu--line {
        background-color: transparent;
      }
      .btn_menu.active .btn_menu--line::before,
      .btn_menu.active .btn_menu--line::after {
        top: 0;
        background-color: #fff;
      }
      .btn_menu.active .btn_menu--line::before {
        transform: rotate(45deg);
      }
      .btn_menu.active .btn_menu--line::after {
        transform: rotate(-45deg);
      }
    
      main {
        background-color: #2c2c2c;
      }
      /* kv */
      .kv {
        height: 460px;
        background-image: url(./../../images/andrew-neel-cckf4TsHAuw-unsplash.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
      }
      .kv_clear--box {
        background-color: #000;
        height: 60px;
        opacity: 0.5;
      }
    
      /* fadeIn-title animation (左から右)*/
      .fadeIn-title {
        animation-name: fadeIn-titleAnime;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
      }
      @keyframes fadeIn-titleAnime {
        0% {
          opacity: 0;
          transform: translateX(-100px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    
      .kv_ttl {
        position: absolute;
        top: 50%;
        left: 20%;
        font-size: 24px;
        z-index: 10;
        opacity: 0;
        color: #fff;
      }
      .kv_ttl::before {
        content: "Business";
        font-size: 74px;
        position: absolute;
        top: -130%;
        left: -76%;
        z-index: -1000;
        color: #fff;
        opacity: 0.1;
        font-family: Myanmar MN;
        font-weight: bold;
      }
    
      .content_wrapper {
        padding: 24px;
        background-color: #2c2c2c;
        height: 56vh;
      }
      .content_ttlArea {
        text-align: center;
        padding-bottom: 25px;
      }
      .content_ttl {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        font-size: 22px;
        color: #fff;
        border-bottom: 2px solid #ccc;
      }
      .content_ttl:before {
        left:0;
      }
      .content_ttl:after {
        right: 0;
      }
      .content_about {
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height: 4;
        letter-spacing: 1px;
      }

      .content_investment--inner {
        height: 824px;
        background-color: #808080;
        width: 100%;
        line-height: 3;
        display: flex;
        flex-direction: column;
      }
      .content_investment--item {
        color: #fff;
        margin-left: 6%;
        margin-bottom: 5%;
        height: 420px;
        letter-spacing: 2px;
      }
      .content_investment--title {
        padding-top: 3%;
        font-size: 15px;
      }
      .content_investment--title span {
        font-size: 20px;
      }
      .content_investment--subtitle {
        font-size: 15px;
      }
      .content_investment--text {
        font-size: 13px;
      }
      .content_achievement {
        font-size: 13px;
        color: #fff;
        line-height: 3;
      }
      .content_achievement--text {
        font-size: 13px;
        letter-spacing: 4px;
      }
      .content_investment--img {
        width: 100%;
        height: 52%;
      }

      .content_rent--inner {
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        background-color: #2c2c2c;
        width: 100%;
      }
      .content_rent--item {
        color: #fff;
        margin-left: 6%;
        height: 420px;
        line-height: 2;
        letter-spacing: 1px;
      }
      .content_rent--title {
        padding-top: 7%;
        margin-bottom: 6%;
        font-size: 15px;
        letter-spacing: 2px;
      }
      .content_rent--title span {
        font-size: 20px;
      }
      .content_rent--subtitle {
        font-size: 15px;
        margin-bottom: 6%;
      }
      .content_rent--text {
        font-size: 13px;
        line-height: 45px;
      }
      .content_rent--img {
        width: 100%;
        height: 50%;
      }
      .content_sale--inner {
        height: 100vh;
        background-color: #808080;
        width: 100%;
        line-height: 3;
      }
      .content_sale--item {
        color: #fff;
        margin-left: 6%;
        height: 400px;
        letter-spacing: 2px;
      }
      .content_sale--title {
        padding-top: 6%;
        margin-bottom: 3%;
        font-size: 15px;
      }
      .content_sale--title span {
        font-size: 20px;
      }
      .content_sale--subtitle {
        font-size: 15px;
        margin-bottom: 3%;
      }
      .content_sale--text {
        font-size: 13px;
        color: #fff;
        line-height: 3;
      }
      .content_sale--img {
        width: 100%;
        height: 52%;
      }

      .content_reform--inner {
        height: 100vh;
        color: #fff;
        background-color: #2c2c2c;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }
      .content_reform--item {
        color: #fff;
        margin-left: 6%;
        height: 420px;
        line-height: 2;
        letter-spacing: 1px;
      }
      .content_reform--title {
        padding-top: 3%;
        margin-bottom: 4%;
        font-size: 15px;
        letter-spacing: 2px;
      }
      .content_reform--title span {
        font-size: 20px;
      }
      .content_reform--subtitle {
        font-size: 15px;
        margin-bottom: 4%;
      }
      .content_reform--text {
        font-size: 13px;
        line-height: 45px;
      }
      .content_reform--img {
        width: 100%;
        height: 51%;
      }

      /* footer */
      .footer {
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        background-color: #fff;
        padding: 16px 0;
      }
      .footer_menu {
        display: none;
      }
      .copyRight {
        font-size: 10px;
        color: #000;
      }
    }