/* 共通 */
.en {
  font-family: baskerville-urw;
  font-weight: bold;
}
.ja {
  font-family: serif;
  font-weight: bold;
}

@media only screen and (min-width: 1025px){
  .wrapper {
    display: flex;
    width: 100%;
  }
  /* header */
  .header {
    height: 100vh;
    background-color: #2c2c2c;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    width: 15%;
  }
  .header_logo {
    width: 100%;
    height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .header_logo img {
    filter: drop-shadow(5px 5px 10px #fff);
  }
  .gnav_list {
    margin: 30% 0 20% 0;
    color: #C4C7CC;
    font-size: 16px;
    text-align: center;
  }
  .gnav_list--item {
    margin-top: 80px;
  }
  .gnav_list--item:last-of-type {
    display: none;
  }
  .btn_menu {
    display: none;
  }
  .pc-copyRight {
    font-size: 10px;
    color: #C4C7CC;
    text-align: center;
    padding: 0 10px;
  }

  /* main */
  main {
    width: 100%;
    padding-left: 10%;
  }

  /* kv */
  .kv {
    height: 460px;
    background-image: url(/images/scott-graham-OQMZwNd3ThU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .kv_clear--box {
    background-color: #fff;
    height: 460px;
    opacity: 0.5;
  }

  /* fadeIn-title animation (左から右)*/
  .fadeIn-title {
    animation-name: fadeIn-titleAnime;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn-titleAnime {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .kv_ttl {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 56px;
    z-index: 100;
    opacity: 0;
  }
  .kv_ttl::before {
    content: "Contact";
    font-size: 160px;
    position: absolute;
    top: -150%;
    left: -10%;
    z-index: -1000;
    color: #000;
    opacity: 0.1;
    font-family: Myanmar MN;
    font-weight: bold;
  }

  /* お問い合わせフォーム */
  .contact_wrapper {
    padding: 80px;
  }
  .contact_ttlArea {
    text-align: center;
  }
  .contact_ttl {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    margin: 0 auto;
    font-size: 48px;
  }
  .contact_ttl:before, .contact_ttl:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 5px;
    background-color: black;
  }
  .contact_ttl:before {
    left:0;
  }
  .contact_ttl:after {
    right: 0;
  }

  /* 切り替えボタン */
  #js-companyForm, #js-privateForm{
    display: none;
  }
  #js-companyBtn.active, #js-privateBtn.active{
    color: #fff;
    background-color: #141B20;
  }
  #js-companyForm.active, #js-privateForm.active {
    display: block;
  }
  .contact_btn {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .contact_private {
    width: 20%;
    margin-right: 5%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
  }
  .contact_company {
    width: 20%;
    margin-left: 5%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
  }

  /* form */
  .contact_private--form {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
  }
  .contact_company--form {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
  }
  .form {
    width: 80%;
    margin: 0 auto;
  }
  .form_item {
    font-size: 16px;
    padding: 20px 0;
  }
  .form_label {
    padding: 2%;
    width: 95%;
    color: #000;
    font-weight: 700;
  }
  .form_required {
    display: inline-block;
    text-align: center;
    color: #cc1c0c;
    font-weight: 700;
    margin-left: 1px;
  }
  .form_input {
    width: 95%;
    height: 50px;
    border: solid 1px #000;
    border-radius: 0.5em;
    padding: 0 20px;
    margin-top: 2%;
  }
  .form_pulldown {
    width: 20%;
    height: 50px;
  }
  .form_error {
    display: none;
    margin-top: 5px;
    color: #cc1c0c;
  }
  .form_input:invalid:focus + .form_error {
    display: block;
  }
  .form_textarea {
    border: solid 1px #000;
    border-radius: 0.5em;
    flex: 1;
    width: 95%;
    height: 15vmax;
    margin-top: 2%;
    padding: 2%;
  }
  .form_btn {
    display: inline-block;
    width: 50%;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 100px;
    color: #333;
    overflow: hidden;
    font-size: 13px;
    left: 25%;
  }
  .form_btn,
  .form_btn::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .form_btn::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    border-radius: 100px;
    font-size: 16px;
  }
  .form_btn:hover {
    color: #fff;
  }
  .form_btn:hover::after {
    background: #444;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* footer */
  .footer {
    display: none;
  }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
  /* header */
  .header {
    height: 90px;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
  }
  .header_logo {
    width: 15%;
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .header_logo img {
    filter: drop-shadow(2px 2px 4px #fff);
  }
  .pc-copyRight {
    display: none;
  }

  /* ハンバーガーメニュー */
  .gnav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
  }
  .gnav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    row-gap: 25px;
    color: #C4C7CC;
  }
  .gnav_list--item:last-of-type {
    display: none;
  }
  .btn_menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 90px;
    text-align: center;
    padding: 8px 16px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    appearance: none;
  }
  .btn_menu--line {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 3px;
    transition: all 0.4s;
    border-radius: 4px;
    background-color: #fff;
  }
  .btn_menu--line::before,
  .btn_menu--line::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    border-radius: 4px;
    background-color: #fff;
  }
  .btn_menu--line::before {
    top:-10px;
  }
  .btn_menu--line::after {
    top: 10px;
  }
  .btn_menu.active .btn_menu--line {
    background-color: transparent;
  }
  .btn_menu.active .btn_menu--line::before,
  .btn_menu.active .btn_menu--line::after {
    top: 0;
    background-color: #fff;
  }
  .btn_menu.active .btn_menu--line::before {
    transform: rotate(45deg);
  }
  .btn_menu.active .btn_menu--line::after {
    transform: rotate(-45deg);
  }

  /* kv */
  .kv {
    height: 460px;
    background-image: url(/images/scott-graham-OQMZwNd3ThU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .kv_clear--box {
    background-color: #fff;
    height: 460px;
    opacity: 0.5;
  }

  /* fadeIn-title animation (左から右)*/
  .fadeIn-title {
    animation-name: fadeIn-titleAnime;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn-titleAnime {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .kv_ttl {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 40px;
    z-index: 10;
    opacity: 0;
  }
  .kv_ttl::before {
    content: "Contact";
    font-size: 120px;
    position: absolute;
    top: -140%;
    left: -10%;
    z-index: -1000;
    color: #000;
    opacity: 0.1;
    font-family: Myanmar MN;
    font-weight: bold;
  }
  /* お問い合わせフォーム */
  .contact_wrapper {
    padding: 40px;
  }
  .contact_ttlArea {
    text-align: center;
  }
  .contact_ttl {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    margin: 0 auto;
    font-size: 24px;
  }
  .contact_ttl:before, .contact_ttl:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 5px;
    background-color: black;
  }
  .contact_ttl:before {
    left:0;
  }
  .contact_ttl:after {
    right: 0;
  }

  /* 切り替えボタン */
  #js-companyForm, #js-privateForm{
    display: none;
  }
  #js-companyBtn.active, #js-privateBtn.active{
    color: #fff;
    background-color: #141B20;
  }
  #js-companyForm.active, #js-privateForm.active {
    display: block;
  }
  .contact_btn {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .contact_private {
    width: 40%;
    margin-right: 5%;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 20px;
  }
  .contact_company {
    width: 40%;
    margin-left: 5%;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 20px;
  }

  /* form */
  .contact_private--form {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
  }
  .contact_company--form {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
  }
  .form {
    width: 80%;
    margin: 0 auto;
  }
  .form_item {
    font-size: 13px;
    padding: 20px 0;
  }
  .form_label {
    padding: 2%;
    width: 95%;
    color: #000;
    font-weight: 700;
  }
  .form_required {
    display: inline-block;
    text-align: center;
    color: #cc1c0c;
    font-weight: 700;
    margin-left: 1px;
  }
  .form_input {
    width: 95%;
    height: 50px;
    border: solid 1px #000;
    border-radius: 0.5em;
    padding: 0 20px;
    margin-top: 2%;
  }
  .form_pulldown {
    width: 20%;
    height: 50px;
  }
  .form_error {
    display: none;
    margin-top: 5px;
    color: #cc1c0c;
  }
  .form_input:invalid:focus + .form_error {
    display: block;
  }
  .form_textarea {
    border: solid 1px #000;
    border-radius: 0.5em;
    flex: 1;
    width: 95%;
    height: 15vmax;
    margin-top: 2%;
    padding: 2%;
  }
  .form_btn {
    display: inline-block;
    width: 50%;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 100px;
    color: #333;
    overflow: hidden;
    font-size: 13px;
    left: 25%;
  }
  .form_btn,
  .form_btn::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .form_btn::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    border-radius: 100px;
    font-size: 16px;
  }
  .form_btn:hover {
    color: #fff;
  }
  .form_btn:hover::after {
    background: #444;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* footer */
  .footer {
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    background-color: #2c2c2c;
    padding: 32px 0;
  }
  .footer_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C4C7CC;
    margin-bottom: 24px;
  }
  .footer_list {
    display: flex;
    gap: 80px;
  }
  .footer_privacy {
    margin-left: 80px;
  }
  .copyRight {
    color: #C4C7CC;
    font-size: 10px;
  }
}

@media only screen and (max-width: 767px){
  /* header */
  .header {
    height: 65px;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
  }
  .header_logo {
    width: 18%;
    height: 65px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .header_logo img {
    filter: drop-shadow(2px 1px 2px #fff);
  }
  .pc-copyRight {
    display: none;
  }

  /* ハンバーガーメニュー */
  .gnav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
  }
  .gnav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    row-gap: 25px;
    color: #C4C7CC;
  }
  .btn_menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 65px;
    text-align: center;
    padding: 2px 8px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    appearance: none;
  }
  .btn_menu--line {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.4s;
    border-radius: 4px;
    background-color: #fff;
  }
  .btn_menu--line::before,
  .btn_menu--line::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    border-radius: 4px;
    background-color: #fff;
  }
  .btn_menu--line::before {
    top:-10px;
  }
  .btn_menu--line::after {
    top: 10px;
  }
  .btn_menu.active .btn_menu--line {
    background-color: transparent;
  }
  .btn_menu.active .btn_menu--line::before,
  .btn_menu.active .btn_menu--line::after {
    top: 0;
    background-color: #fff;
  }
  .btn_menu.active .btn_menu--line::before {
    transform: rotate(45deg);
  }
  .btn_menu.active .btn_menu--line::after {
    transform: rotate(-45deg);
  }

  /* kv */
  .kv {
    height: 460px;
    background-image: url(/images/scott-graham-OQMZwNd3ThU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .kv_clear--box {
    background-color: #fff;
    height: 460px;
    opacity: 0.5;
  }

  /* fadeIn-title animation (左から右)*/
  .fadeIn-title {
    animation-name: fadeIn-titleAnime;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn-titleAnime {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .kv_ttl {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 24px;
    z-index: 100;
    opacity: 0;
  }
  .kv_ttl::before {
    content: "Contact";
    font-size: 96px;
    position: absolute;
    top: -180%;
    left: -55%;
    z-index: -1000;
    color: #000;
    opacity: 0.1;
    font-family: Myanmar MN;
    font-weight: bold;
  }
  /* お問い合わせフォーム */
  .contact_wrapper {
    padding: 24px;
  }
  .contact_ttlArea {
    text-align: center;
  }
  .contact_ttl {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    margin: 0 auto;
    font-size: 22px;
  }
  .contact_ttl:before, .contact_ttl:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 5px;
    background-color: black;
  }
  .contact_ttl:before {
    left:0;
  }
  .contact_ttl:after {
    right: 0;
  }

  /* 切り替えボタン */
  #js-companyForm, #js-privateForm{
    display: none;
  }
  #js-companyBtn.active, #js-privateBtn.active{
    color: #fff;
    background-color: #141B20;
  }
  #js-companyForm.active, #js-privateForm.active {
    display: block;
  }
  .contact_btn {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .contact_private {
    width: 30%;
    padding: 10px 5px;
    font-size: 10px;
    border-radius: 20px;
  }
  .contact_company {
    width: 30%;
    padding: 10px 5px;
    font-size: 10px;
    border-radius: 20px;
  }

  /* form */
  .contact_private--form {
    margin: 24px auto;
  }
  .contact_company--form {
    margin: 24px auto;
  }
  .form {
    width: 80%;
    margin: 0 auto;
  }
  .form_item {
    font-size: 13px;
    padding: 20px 0;
  }
  .form_label {
    padding: 2%;
    width: 95%;
    color: #000;
    font-weight: 700;
  }
  .form_required {
    display: inline-block;
    text-align: center;
    color: #cc1c0c;
    font-weight: 700;
    margin-left: 1px;
  }
  .form_input {
    width: 95%;
    height: 40px;
    border: solid 1px #000;
    border-radius: 0.5em;
    padding: 0 20px;
    margin-top: 2%;
  }
  .form_pulldown {
    width: 40%;
    height: 40px;
  }
  .form_error {
    display: none;
    margin-top: 5px;
    color: #cc1c0c;
  }
  .form_input:invalid:focus + .form_error {
    display: block;
  }
  .form_textarea {
    border: solid 1px #000;
    border-radius: 0.5em;
    flex: 1;
    width: 95%;
    height: 15vmax;
    margin-top: 2%;
    padding: 2%;
  }
  .form_btn {
    display: inline-block;
    width: 50%;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 100px;
    color: #333;
    overflow: hidden;
    font-size: 13px;
    left: 25%;
  }
  .form_btn,
  .form_btn::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .form_btn::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    border-radius: 100px;
    font-size: 16px;
  }
  .form_btn:hover {
    color: #fff;
  }
  .form_btn:hover::after {
    background: #444;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* footer */
  .footer {
    text-align: center;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    background-color: #2c2c2c;
    padding: 16px 0;
  }
  .footer_list {
    display: none;
  }
  .copyRight {
    color: #C4C7CC;
    font-size: 10px;
  }

}